# cpu_config.cfg
logDir = gtp_logs
logAllGTPCommunication = false
logSearchInfo = false

# PERFORMANCE SETTINGS
# 2 or 4 threads is safe for almost any laptop.
# If you set this too high on an old dual-core, the UI will lag.
numSearchThreads = 2

# RULES
# You can change this to japanese, chinese, aga, etc.
rules = chinese

# OTHER
# Reduce memory usage for old machines
nnCacheSizePowerOfTwo = 18